body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.banner img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.dashboard-container {
    padding: 30px;
}

h2 {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: #eaf2ff;
}